header {
    background-color: #15212a;/*cor de fundo*/
    padding: 60px;/*preenchimento header*/
    display: flex;/*habilitar flexbox/alinhamento*/
    align-items: center;/*alinhamento vertical*/
    justify-content: space-evenly;/*alinhamento horizontal*/
    
}
/* estilizações dos botões */
.dombosco {
    padding: 10px;/*preenchimento interno*/
    background-color: #d7b89c;/*cor fundo*/
    width: 110px;/*largura do button*/
    border: none;/*remoção das bordas*/
}

/*estilização da img do header*/
header img {
    width: 100px;/*largura da img*/
}

/* estilização da primeira section */
.primeira-section {
    background-color: #99c9bd;
    padding: 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.primeira-section img {
width: 250px;
}


.segunda-section {
    /* background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%); /*Uma cor com Degradê*/
    background: linear-gradient(254deg,rgba(42, 123, 155, 1) 0%, rgba(3, 8, 4, 0.53) 50%), url(imagens/architecture-3128917_1280.jpg);
    background-position: center; /*posicionamento da img*/
    background-repeat: no-repeat; /*desabilitando repetição da img*/
    background-size: cover; /*Preenchimento total da img*/
    background-attachment: fixed; /*Tornando img fixa na section_*/
    padding: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.terceira-section {
    background-color: #feab8d;
    padding: 140px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.terceira-section img {
    width: 250px;
}


footer {
    background-color: #15212a;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
footer p {
    color: white;
}

footer img {
    width: 100px;
}

/* Clínica de Odontologia */
/* Barbearia do Naldo */
/* Padaria do Renato */